#a{
    /* background-color: blue;
    text-align: center;
    color: rgb(55, 22, 175); */
   
    /* border: 10px solid red;
    padding: 100px; */

}
#b{

    text-align: right;
    color: blueviolet;
}
